
/* @import url('header.css'); */
/* @import url('footer.css'); */
/* mes stylisation en CSS  */

body{

    background: url('../images/developpeur.jpg') no-repeat;

background-size: 100%;

background-attachment: fixed;

    margin:0;
    padding:0;

    /* width: 90%; */
    /* height: 1000px; */

}



.row , .container{

    transition: transform 0.9s,opacity 0.9s;
}

.row{
    position: relative;
    /* left: 20%; */
}


/* content {


   
    display: block;
    text-align: center;
    margin-top:5%;
   height:900px;
   
    border: 1px solid slategrey;
} */

 #first-slide{

background-image: url('../images/joinUs.jpg');
background-color: aliceblue;
background-repeat: no-repeat;
background-size: 100%;
    margin:1%  auto 0%;

         border: 1px solid slategrey;
        /* width: 100%; */
        height: 100%;

      

        transition: transform 2s;

}

.anime-left{

    transition: transform 0.9s;

    transform: scale(0,0) rotateZ(10deg)  rotateX(50deg)  rotateY(60deg);
}


.anime-right{

    transition: transform 0.9s;

    transform: translateX(2000px);
}


.anime-rotate{

    transition: transform 0.5s;
    transform: rotateX(90deg);


}
.container-text .titre,legend {

    font-family:elephant;
        
        /*margin:0 auto;*/
        color:#444;
        font-size:3em;
        font-weight: bolder;
        text-shadow: 10px 5px 15px #ccc;
      
      
}

.container-text a{

    text-decoration: none;
      color:#999;
}

.container-text{

    text-align: center;
    background: #f0f0f0;
    width:50%;
    padding: 2%;
    margin:20% auto;
    line-height: 25px;
    opacity: 0.8;
    border-radius: 8px;

    font-size: 1.3em;


}


 #second-slide{

    /* margin:10% auto; */
    background-image: url('../images/developpeur.jpg');
    background-repeat: no-repeat;
    background-size: 100%;


         border: 1px solid slategrey;
        /* width: 100%; */
        height: 100%;
       
         /* transform: translateX(-2000px); */

         transition: transform 1s;

}
#third-slide{

    /* margin:10% auto; */
    background-image: url('../images/brick-wall.jpg');
    background-repeat: no-repeat;
    background-size: 100%;


         border: 1px solid slategrey;
        /* width: 100%; */
        height: 100%;

         /* perspective: 5000px;

    transform-style: preserve-3d; */
        
         /* transform: scale(0.2,0.2); */
          /* transform: translateX(-120px); */
         transition: transform 1s;

}

#third-slide ul {

            text-align: left;

}

#third-slide ul li{
        margin-left:15%;
        display: inline;
       
}

#third-slide ul li img{

        /* height:3%;
        width:3%; */
}

.container{
    /* flex-flow: row; */

    /* margin-top:20%;
    border:4px solid gray; */
}

.error{

    margin:1% auto;

    background-color: rgb(238, 160, 160);
    padding:0.5%;
    height:4%;
    width: 90%;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-size:1em;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color:rgb(212, 24, 24);

    opacity: 0;
 transition: opacity 15s,margin 0.5s;
   
   
}


.success{


     margin:1% auto;

    background-color: rgb(149, 226, 178);
    padding:0.5%;
    height:5%;
    width: 90%;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    font-size:1.3em;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    color:rgb(12, 184, 55);

    opacity: 0;
 transition: opacity 15s,margin 0.5s;


}

.show-error{
/* 
    opacity: 1;
    margin:1 auto;
   transition: margin 1s; */


}

